body{
    display: flex;
    flex-direction: column;
}
input{
    margin: 10px;
}
table{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}
td{
    border: 1px solid black;
}