body{
    color: black;
    background-color: white;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
}

section{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.2fr 1.5fr;
    grid-template-areas:
    "Titulo Titulo"
    "Texto Foto";
    align-items: center;
    justify-items: center;
    color:blue;
    background-color: aquamarine;
    padding: 0.5em;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
}

img{
    grid-area: Foto;
    width: 40%;
}

h3{
    grid-area: Titulo;
}