/*Especifidad 001*/
body {
    background-color: #5E00DD;
    color: white;
    text-align: center;
}
/*Especifidad 001*/
h1, h2{
    color: white;    
    background-color: black;    
}
/*Especifidad 001*/
h1{
    text-transform: uppercase;
    padding: 1em; 
}
/*Especifidad 001*/
p{
   font-size: 20px;
}