body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


form{
    background-color: #5B4646;
    border-radius: 10px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 
}

textarea{
    resize:none;
    grid-column: 1/5;
    text-align: right;
    font-size: 15px;
    margin: 10px;
}

input{
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
}

input[value="Enter"]{
    grid-column: 3/5;
    width: 220px;
}