/* Especifidad 001*/
body{
    font-family: Tahoma, sans-serif;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
}

/*Especifidad 001*/
header{
    background-color: #0053C7;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

/*Especifidad 001*/
h1{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 3em;
}

/*Especifidad 001*/
h2{
    text-decoration: underline black
}

/*Especifidad 001*/
nav{
    background-color:#FBFF7A;
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    margin-bottom: 10px;
    border: 1px solid black;
}

/*Especifidad 002*/
nav a{
    padding: 1em;
    color: black;
}
main section{
    display:grid;
}
/*Especifidad 012*/
main section:first-of-type{
    align-items: center;
    justify-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
    grid-template-areas: 
    "Titulo Foto"
    "Texto Foto";
}

/*Especifidad 013*/
main section:first-of-type h2{
    grid-area: Titulo;
    font-size: 1.5em;
    text-align: center;
}

/*Especifidad 013*/
main section:first-of-type p{
    grid-area: Texto;
    text-align: center;
    align-self: stretch;
}

/*Especifidad 013*/
main section:first-of-type img{
    grid-area: Foto;
    margin-top:20px;
}

main section:last-of-type{
    justify-items: center;
    grid-template-columns: 1.1fr 1.1fr;
    grid-template-rows: 0.2fr 1fr 1.7fr;
    column-gap: 30px;
    grid-template-areas: 
    "Titulo Titulo"
    "Texto1 Foto"
    "Texto2 Texto3";
    text-align: justify;
    margin-left:10px;
    margin-right:10px;
}


h3{
    grid-area: Titulo;
}

/*Especifidad 001*/
footer{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1.4fr 0.9fr 0.9fr 0.9fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding: 1em;
}

@media (max-width: 600px){
    main section:first-of-type{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "Titulo"
        "Texto"
        "Foto";
    }

    main section:last-of-type{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "Titulo"
        "Texto1"
        "Foto"
        "Texto2"
        "Texto3";
    }

    footer{
        grid-template-columns: 1.2fr 1.1fr;
        grid-template-rows: 0.5fr 0.5fr;
        row-gap: 10px;
    }
}
