/* Especifidad 001*/
body{
    font-family: Tahoma, sans-serif;
    color: black;
    background-color: white;
}

/*Especifidad 001*/
header{
    background-color: #0053C7;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

/*Especifidad 001*/
h1{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 3em;
}

/*Especifidad 001*/
nav{
    background-color:#FBFF7A;
    display:flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

/*Especifidad 002*/
nav a{
    padding: 1em;
    color: black;
}

/*Especifidad 012*/
main section:first-of-type{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 0.1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
    grid-template-areas: 
    "Titulo Foto"
    "Texto Foto";
    margin-left: 30px;
}

/*Especifidad 013*/
main section:first-of-type h2{
    grid-area: Titulo;
    font-size: 1.5em;
    text-align: center;
}

/*Especifidad 013*/
main section:first-of-type p{
    grid-area: Texto;
    text-align: center;
    align-self: stretch;
}

/*Especifidad 013*/
main section:first-of-type img{
    grid-area: Foto;
    margin-top:20px;
}

/*Especifidad 001*/
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
