/*Especifidad 012*/
main section:first-of-type{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
    grid-template-areas: 
    "Titulo Foto"
    "Texto Foto";
    margin-bottom: 20px;
}

/*Especifidad 013*/
main section:first-of-type h2{
    grid-area: Titulo;
    font-size: 1.5em;
    text-align: center;
}

/*Especifidad 013*/
main section:first-of-type p{
    grid-area: Texto;
    text-align: center;
    align-self: stretch;
}

/*Especifidad 013*/
main section:first-of-type img{
    grid-area: Foto;
    margin-top:20px;
}

@media (max-width: 600px){
    /*Especifidad 012*/
    main section:first-of-type{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "Titulo"
        "Texto"
        "Foto";
    }
}