main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 10px;
    width: 100%;
    padding-left: 0em;
    padding-right: 0em;
}

main section {
    border: 1px solid black;
    padding: 1em;
}

audio{
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
}

@media (max-width: 600px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

main img{
    width: 100%;
}