/*Especifidad 001*/
ul{
    list-style-type: square;
    background-color: red;
    padding: 1em;
    border: 20px groove blue;
    list-style-position: inside;
}

/*Especifidad 001*/
li{
    background-color: #cce5ff;
    margin: 5px;
    padding: 0.5em;
}

/*Especifidad 001*/
strong{
    color: blue;
}

/*Especifidad 002*/
main header{
    border: 2px solid red;
    background-color: white;
    color: black;
    padding: 1em;
}

/*Especifidad 001*/
video{
    width: 100%;
}