/*Especifidad 001*/
table{
    width:100%;
    border: 1px solid black;
    border-collapse: collapse;
}

/*Especifidad 001*/
th,td{
    text-align: center;
    vertical-align: center;
    padding: 0.2em;
}

/*Especifidad 001*/
th{
    background: black;
    color: white;
    border: 1px solid white;
}

/*Especifidad 001*/
td{
    border: 1px solid black;
}

/*Especifidad 002*/
table + img{
    margin-top: 20px;
}

/*Especifidad 002*/
main header{
    color: black;
    background-color: #C9C6C6;
    border: 1px solid black;
    padding: 1em;
}

