/*Especifidad 001*/
body {
    background-color: #A70000;
    color: black;
    font-size: 20px;
}
/*Especifidad 001*/
h1, h3 {
    color: white;    
    background-color: black; 
    text-align: center;     
}
/*Especifidad 001*/
h1{
    padding: 1em;
    text-transform: uppercase;
}
/*Especifidad 001*/
h2, h4{
    color:black;
    background-color: white;
    text-align: center;
}
/*Especifidad 001*/
p{
    color:white;
    text-align: center;
}