/*Especifidad 001*/
body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Especifidad 001*/
form{
    background-color: #5B4646;
    border-radius: 10px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.1fr 2fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 
}
/*Especifidad 001*/
label{
    grid-column: 1/5;
    color: white;
}
/*Especifidad 001*/
textarea{
    resize:none;
    grid-column: 1/5;
    text-align: right;
    font-size: 15px;
    margin: 10px;
}
/*Especifidad 001*/
input{
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
}
/*Especifidad 011*/
input[value="Enter"]{
    grid-column: 3/5;
    width: 220px;
}