/*Especifidad 001*/
body{
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Especifidad 001*/
main{
    background-color: #5B4646;
    border-radius: 10px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

/*Especifidad 001*/
textarea{
    grid-column: 1/5;
    resize:none;
    text-align: right;
    font-size: 30px;
    margin: 10px;
}

/*Especifidad 001*/
input{
    width: 75px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
}

/*Especifidad 001*/
input[value="+"], input[value="-"],
input[value="/"], input[value="*"]{
    background-color: #FF6565
}

/*Especifidad 001*/
input[value="mrc"], input[value="m+"], input[value="m-"]{
    background-color: #2D2D2D;
    color: white;
}